 zoom_client_id =
 zoom_client_secret = 
 zoom_bot_jid = 
 zoom_verification_token =
 Zoom_SECRECT_TOKEN =
 OracleAUDIENCE =
 OracleAPP_ID =
 OracleSUB=
 OracleJTI=
 OracleKID=
 OracleAppClienttID=
 OracleAppClienttSecrect=
 OracleScope=
ZoomsendchatUrl=
oracleIDCS_Url=
OraclePOLifeCycleDetailsURL=
OracleReqDeepLink=
Unpaidtagging=
OracleReqURL=
OracleAlertReportPath=
Oraclepourlbody=
oraclepodname=
OracleReqDeepLinkWithRole=
OraclePODeepLink=
ApTaxAlertWebhook=
ApTaxAlertAuth=
